<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/css/halfmoon-variables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/HomePage.css">
    <link rel="stylesheet" href="/css/Admin.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - MultCell</title>
</head>

<body>
    <div class="page-wrapper with-navbar with-sidebar with-navbar-fixed-bottom"
        data-sidebar-type="overlayed-sm-and-down">
        <div class="sticky-alerts"></div>
        <nav class="navbar" style="background-color: rgb(35,35,35);">
            <h1 class="With">Mult <span class="Red">Cell</span></h1>
            <div class="Exit">
                <h1 class="Exit-Title">Sair</h1>
            </div>
        </nav>
        <div class="sidebar-overlay" onclick="halfmoon.toggleSidebar()"></div>
        <div class="sidebar">
            <div class="sidebar-menu">
                <a href="#" class="sidebar-brand">
                    DashBoard
                </a>
                <div class="sidebar-content">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <h5 class="sidebar-title">Clientes</h5>
                <div class="sidebar-divider"></div>
                <a href="/Admin" id="Budget-Link" class="sidebar-link">Orçamentos</a>
                <a href="/Admin/Emails" id="Budget-Link" class="sidebar-link">E-mails</a>
                <br>
                <h5 class="sidebar-title">Funcionários</h5>
                <div class="sidebar-divider"></div>
                <a href="/Admin" id="Collaborator" class="sidebar-link">Cadastrar novos Funcionários</a>
                <a href="/Admin/Delete" id="Delete-Collaborator" class="sidebar-link">Deletar Funcionários</a>
                <a href="/Admin/Update" class="sidebar-link">Editar Funcionários</a>
            </div>
        </div>

        <div class="content-wrapper">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Email</th>
                        <th scope="col">Responder</th>
                    </tr>
                </thead>
                <% EmailUser.forEach(function(EmailUser){ %>
                    <tbody>
                        <tr>
                            <th style="font-size: 15px;" scope="row">
                                <%= EmailUser.id %>
                            </th>
                            <td>
                                <%= EmailUser.Email %>
                            </td>
                            <td>
                                <button onclick="MailRedirect()" id="Redirect-Mail" class="btn btn-primary" type="button">Responder</button>
                            </td>
                        </tr>
                    </tbody>
                <% }); %>
            </table>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
        integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
        crossorigin="anonymous"></script>
    <script src="/javascript/halfmoon.js"></script>
    <script src="/javascript/Admin/Emails.js"></script>

</body>