<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/Home.css">
</head>

<body>
    <nav style="background-color: rgb(44, 44, 44);">
        <div class="nav-wrapper">
            <a href="#" id="BrandLogo" class="brand-logo" style="color: white;"><span style="color: rgb(194, 37, 37);"
                    class="Logo-P1">Multi</span>Cell</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a style="font-size: 20px;" href="#">Início</a></li>
                <li><a style="font-size: 20px;" href="#">Serviços</a></li>
                <li><a style="font-size: 20px;" href="/Login">Entrar</a></li>
            </ul>
        </div>
    </nav>

    <div class="Container-Main-T">
        <h1 class="Title-Container-Main">Precisando de assistência técnica para seu celular?</h1>
        <p class="Title-Presentation-Reponse">Venha Conhecer a Multi Cell, nós podemos resolveremos o seu problema!</p>
    </div>

    <div class="NoteBooks">
        <h1 class="NoteBook-Title-T">Realizamos assistências técnicas para notebooks!</h1>
        <p class="NoteBooks-Container-t">Possuímos excelente atendimento ao cliente, troca e reparo de peças,
            formatação,
            além consultorias. Nosso diferencial é a compra e encomenda de peças conforme a sua necessidade!
        </p>
        <button class="More-Info">Fazer orçamento</button>

        <div class="Images-NoteBooks">
            <div class="Line-1">
                <div class="Image-1">
                    <img class="Img1" src="/images/jay-prajapati-Jp6Z2Mp5Sq0-unsplash.jpg">
                </div>
                <div class="Image-2">
                    <img class="Img1" src=/images/luis-quintero-aUnkqeCvz80-unsplash.jpg>
                </div>
            </div>
            <div class="Line-2">
                <div class="Image-3">
                    <img class="Img1" src=/images/penguinuhh-QRjxIZBH01I-unsplash.jpg>
                </div>
                <div class="Image-4">
                    <img class="Img1" src=/images/arnold-francisca-lz1MnBzCxLA-unsplash.jpg>
                </div>
            </div>
        </div>
    </div>
    <div class="Main-Container-Phone">
        <div class="Phone">
            <div class="Images-Phone">
                <div class="Line-1">
                    <div class="Image-1">
                        <img class="Img1" src="/images/ian-robinson-EzGRCDqLPaY-unsplash.jpg">
                    </div>
                    <div class="Image-2">
                        <img class="Img1" src="/images/erik-mclean-lJyPSFu_6mQ-unsplash.jpg">
                    </div>
                </div>
                <div class="Line-2">
                    <div class="Image-3">
                        <img class="Img1" src="/images/christian-wiediger-ZYLmudR28SA-unsplash.jpg">
                    </div>
                    <div class="Image-4">
                        <img class="Img1" src="/images/benjamin-sow-CB4z0uTFSYg-unsplash.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="Phone-Text">
            <h1 class="Phones-Title">Realizamos assistências técnicas também para Celulares!</h1>
            <p class="Phones-Container">Consertamos qualquer problema no seu celular, fazemos troca e reparo de
                peças, formatação,
                além de vendas de capinhas e pelicúlas protetoras para todos os tipos de aparelhos.</p>
            <button id="Button-MoreInfo2" class="MoreInfo">Fazer orçamento</button>
        </div>
    </div>

    <div class="Main-Container-Information">
        <div class="Mail">
            <div class="Image-World">
                <img class="World" src="/images/earth-globe-with-continents-maps.png">
            </div>
            <h1 class="Mail-Title">Deixe seu email de contato.</h1>
            <p class="Mail-body">Informe seu email e receba as nossas principais atualizações e
                informações sobre nossos novos produtos, serviços e consultorias dentro da Mult Cell.
                Não compre outro aparelho, conserte! Realizar o conserto é fazer economia,
                contando com um serviço de qualidade e garantia.</p>
            <form action="/Email/Env" method="POST">
                <input id="Mail-User-T" type="email" name="Email" placeholder=" * Exemple@Exemple.com"></input>
                <button class="Mail-Submmit" type="submit">Enviar</button>
            </form>
        </div>

        <div class="Budget">
            <div class="Image-World">
                <img class="World" src="/images/earth-globe-with-continents-maps.png">
            </div>
            <h1 class="Budget-Title">Faça o seu orçamento!</h1>
            <p class="Budget-body">Entre em contato conosco, a Multi Cell faz um orçamento que cabe
                no seu bolso. Temos ótimos descontos e preços e além disso aceitamos
                pagamentos parcelado em até 12 vezes. Venha já, e surpreenda-se com os preços!</p>
            <button class="Budget-Submmit" type="submit">Fazer orçamento</button>
        </div>
    </div>

    <footer class="Footer">
        <h1 class="Footer-Title">© 2021 Multi Cell.</h1>
        <p class="Footer-Body">Sistema MultCell foi desenvolvido para aperfeiçoamento pessoal, portanto é um sistema sem fins lucrativos.</p>
    </footer>

    <script src="/javascript/HomePage.js"></script>
</body>

</html>